<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<aside th:fragment="left">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span >
                            <img alt="image" class="img-circle" th:src="@{/bootstrap/img/a8.jpg}"/>
                             </span>
                        <a data-toggle="dropdown" id="setting" class="dropdown-toggle">
                            <!--th:value="${sysUser.userName}"-->
                            <span class="clear"> <span class="block m-t-xs" th:value="${user.userName}"> <strong
                                    class="font-bold"></strong>
                             </span> <span class="text-muted text-xs block">个人设置<b
                                    class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="/user/updateUser">个人信息</a></li>
                            <li><a href="/user/changePassword">修改密码</a></li>
                            <li><a href="/user/desktop">桌面设置</a></li>
                            <li><a href="/user/forecast">天气预报设置</a></li>
                            <li><a href="/user/findCollections">个人网址收藏</a></li>
                            <li><a href="/user/opinion">快速意见设置</a></li>

                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li    th:each="ment:${mentlist}" th:if="${ment.parentid}==0" shiro:hasPermission="${ment.percode}" id="approvalProcess">
                    <a href="#" >
                        <i th:class="${ment.icon}"></i>
                        <span class="nav-label"   th:text="${ment.pname}" ></span>
                        <span class="fa arrow">
                        </span>
                    </a>
                    <ul  class="nav nav-second-level collapse" id="approvalProce ss_ul">
                        <li   id="process" th:each="childrenMent:${mentlist}" shiro:hasPermission="${childrenMent.percode}" th:if="${childrenMent.parentid}==${ment.pid} and ${childrenMent.type}=='menu'">
                            <a th:href="${childrenMent.url}" >
                                <i th:class="${childrenMent.icon}">
                                </i><span class="nav-label" th:text="${childrenMent.pname}">
                            </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <script type="text/javascript">
    </script>
</aside>



<div th:include="common/Head :: js"></div>
<script src="../bootstrap/js/dept/js/vue.min.js"></script>
<script src="../bootstrap/js/dept/js/bootstrapValidator.js"></script>
<script src="../js/manage/js/fileinput.min.js"></script>
<script src="../js/manage/js/zh.js"></script>
<script src="../js/manage/js/processData.js"></script>
<script type="text/javascript" src="../bootstrap/dataTable/datatables.min.js"></script>
</body>
</html>



